@{
    ViewBag.Title = "Pluralsight Authors";
    ViewBag.Message = "Learn from experts and get the answers you need";
}

<h2>AIS</h2>

<address>
    11400 Commerce Park Drive<br />
    Suite 600<br />
    Reston, VA 20191<br />
    <abbr title="Phone">P:</abbr>
    703.860.7800
</address>

<address>
    <strong>Sales:</strong>   <a href="mailto:sales@appliedis.com">sales@appliedis.com</a><br />
</address>