@{
    ViewBag.Title = "Pluralsight Authors";
    ViewBag.Message = "Learn from experts and get the answers you need";
}

<h2>Cloud Patterns</h2>
<p>This application has been written only for demo purpose.</p>
