@{
    ViewBag.Title = "Pluralsight Authors";
    ViewBag.Message = "Learn from experts and get the answers you need";
}

<div class="row">
    <div class="col-md-4">
        <h2>Authors</h2>
        <p>In this page we can search for authors, switch between data stores in case one fails, use image service to retrieve author photos, etc.</p>
        <p><a id="aAuthorPage" class="btn btn-default" href="#">Demo &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Courses</h2>
        <p>
            Say goodbye to classroom-based training that takes you out of the office. Empower yourself to train on your time, when it’s convenient, and on any device..
        </p>
        <p><a id="aCourses" class="btn btn-default" href="#">Demo &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Exponential Back Off</h2>
        <p>How we should change the retry logic in cloud. The best pratice that will reduce to number of transactions and lower the cost.</p>
        <p><a id="aBackOff" class="btn btn-default" href="#">Demo &raquo;</a></p>
    </div>
</div>

@section scripts{
    <script src="~/Scripts/App/HomeIndex.js"></script>
}