@{
    ViewBag.Title = "Pluralsight Authors";
    ViewBag.Message = "Learn from experts and get the answers you need";
}

<div class="row">
    <div class="col-md-4">
        <h2>Authors</h2>
        <p>In this page we can search for authors, switch between data stores in case one fails, use image service to retrieve author photos, etc.</p>
        <p><a id="aAuthors" class="btn btn-default" href="#">Demo &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Courses</h2>
        <p>
            Say goodbye to classroom-based training that takes you out of the office. Empower yourself to train on your time, when it’s convenient, and on any device..
        </p>
        <p><a id="aCourses" class="btn btn-default" href="#">Demo &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Email History</h2>
        <p>View the history of all the emails sent from the application. Filter records by daterange to narrow down the search.</p>
        <p><a id="aEmailHistory" class="btn btn-default" href="#">Demo &raquo;</a></p>
    </div>
</div>

@section scripts{
    @*<script src="~/Scripts/App/HomeIndex.js"></script>*@
    <script src="/wwwroot/js/App/HomeIndex.js"></script>
}