@{
    ViewBag.Title = "Pluralsight Courses";
    ViewBag.Message = "Learn from experts and get the answers you need";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />

<table>
    <tr>
        <th>Course Name</th>
        <th></th>
        <th></th>
    </tr>
    <tr>
        <td><input id="courseName" type="text" class="wideBox" /></td>
        <td><input id="search" type="button" value="Search" /></td>
        <td id="waitCell" style="display:none;">&nbsp;&nbsp;&nbsp;<img src="~/Content/Images/wait.gif"></td>
    </tr>
</table>
<br/>
<table id="resultTable" class="result">
    <tr>
        <th>&nbsp;&nbsp;&nbsp;</th>
        <th>&nbsp;Recommended Courses&nbsp;</th>
    </tr>
</table>

@section scripts{
    <script src="~/Scripts/jquery-ui.js"></script>
    <script src="~/Scripts/App/CloudConceptsCourse.js"></script>
    }
